@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

@mixin InterFonts {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}
@mixin default_values {
  @include InterFonts;
  position: relative;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  line-height: 1.4;
  transition: 0.5s;
}
* {
  @include default_values;
}
p,
h3 {
  font-size: 14px;
}
p {
  font-weight: 400;
}
h3 {
  font-size: 14px;
}
button {
  all: unset;
  @include default_values;
}
.emailNavBtn {
  img {
    width: 30px;
    height: 30px;
  }
}
.mainSideBar {
  position: fixed;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100vh;
  display: flex;
  z-index: 5;
  &.visible {
    left: 0;
  }
}
.mainSideBarContent {
  width: 90%;
  max-width: 300px;
  flex-shrink: 0;
  height: 100%;
  padding: 10px;
  background-color: red;
}
.cancelZone {
  width: 100%;
  height: 100%;
}
.asideBtn {
  display: flex;
  gap: 20px;
  width: 100%;
  padding: 8px 20px;
  margin-bottom: 10px;
  border-radius: 10px;
  &.selected {
    background-color: #d8e6cc;
  }
  img {
    width: 20px;
    height: 20px;
  }
}
.emailList {
  width: 100%;
  padding: 10px;
}
.emailContact {
  gap: 12px;
  display: flex;
  max-width: 100%;
  margin-bottom: 10px;
}
.emailIcon {
  padding: 10px;
  width: 35px;
  height: 35px;
  border-radius: 100%;
  background-color: red;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  h2 {
    font-weight: 400;
    font-size: 1rem;
    margin: 0;
    line-height: 1;
  }
}
.emailContactBody {
  flex: 1;
  min-width: 0;
  * {
    margin-bottom: 5px;
    line-height: 1;
  }
  h3 {
    font-weight: 400;
  }
  p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    margin: 0;
    color: #666;
    font-size: 0.9rem;
  }
}
.asideHeader {
  margin-bottom: 30px;
}
.emailNavBar {
  background-color: grey;
  padding: 10px;
}
.emailListNavigation, .emailCanvasNavigation{
  display: none;
  &.visible{
    display: block;
  }
}
.emailNavBarTab {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 25px;
  max-width: 100%;
  h3 {
    font-size: 1.1rem;
  }
}
.emailCanvas,
.emailList {
  display: none;
  &.visible {
    display: block;
  }
}
.emailCanvas {
}
section {
  padding: 10px;
}
.subject{
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: rgb(227, 221, 221);
}
.fromandto{
  padding-top: 15px;
  padding-bottom: 15px;
  margin: 0;
  border-bottom: 2px solid rgb(227, 221, 221);
}
//do not add anything below this
@import "./importants";
