<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="scripts/jquery.js"></script>
    <link rel="stylesheet" href="styles/style.css">
    <title>Document</title>
</head>

<body>
    <nav class="emailNavBar">
        <div class="emailListNavigation visible">
            <div id="emailListBurger" class="emailNavBarTab">
                <button class="emailNavBtn">
                    <img src="icons/burger.svg" alt="">
                </button>
                <h3>Welcome, Tapiwa</h3>
            </div>
            <p id="mailboxType">Inbox</p>
        </div>
        <div class="emailCanvasNavigation">
            <button id="backToEmailList" class="emailNavBtn">
                <img src="icons/burger.svg" alt="">
            </button>
        </div>
    </nav>
    <div class="desktopSplitter">
        <div class="sideBarHolder">
            <aside id="mainSideBar" class="mainSideBar">
                <div class="mainSideBarContent">
                    <div class="asideHeader">
                        <h2>EasyMail<sup>™</sup></h2>
                        <p>ss@live.com</p>
                    </div>
                    <button class="asideBtn selected">
                        <img src="icons/burger.svg" alt="">
                        <p>Inbox</p>
                    </button>
                    <button class="asideBtn">
                        <img src="icons/burger.svg" alt="">
                        <p>Junk/Spam</p>
                    </button>
                    <button class="asideBtn">
                        <img src="icons/burger.svg" alt="">
                        <p>Sent Email</p>
                    </button>
                </div>
                <div class="cancelZone"></div>
            </aside>
            <aside id="emailList" class="emailList visible">
                {# <button class="emailContact">
                    <div class="emailIcon">
                        <h2>TT</h2>
                    </div>
                    <div class="emailContactBody">
                        <h3>ccsd@cc.com</h3>
                        <h3>cdsc dscsdcd scd</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque animi quo unde rem sit
                            minus quaerat tempora et laudantium est hic quidem deleniti dolorem, nulla fuga eaque autem
                            inventore ipsa?</p>
                    </div>
                </button>
                <button class="emailContact">
                    <div class="emailIcon">
                        <h2>TT</h2>
                    </div>
                    <div class="emailContactBody">
                        <h3>ccsd@cc.com</h3>
                        <h3>cdsc dscsdcd scd</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque animi quo unde rem sit
                            minus quaerat tempora et laudantium est hic quidem deleniti dolorem, nulla fuga eaque autem
                            inventore ipsa?</p>
                    </div>
                </button>
                <button class="emailContact">
                    <div class="emailIcon">
                        <h2>TT</h2>
                    </div>
                    <div class="emailContactBody">
                        <h3>ccsd@cc.com</h3>
                        <h3>cdsc dscsdcd scd</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque animi quo unde rem sit
                            minus quaerat tempora et laudantium est hic quidem deleniti dolorem, nulla fuga eaque autem
                            inventore ipsa?</p>
                    </div>
                </button> #}
            </aside>
        </div>
        <div id="emailCanvas" class="emailCanvas">
            <section class="subject">
                <h3 id="subjectText">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</h3>
            </section>
            <section class="emailContact fromandto">
                <div class="emailIcon">
                        <h2>TT</h2>
                    </div>
                    <div class="emailContactBody">
                        <h3 id="senderName"></h3>
                        <h3 id="senderEmail"></h3>
                    </div>
            </section>
            <section class="emailbody">
                <p id="emailBody"></p>
            </section>
            <div id="options" class="options">
                <button class="ignore actionBtn">Ignore</button>
                <button class="action actionBtn">Take action</button>
            </div>
        </div>
    </div>
    {% include "components/popup.njk" %}
</body>
<script src="scripts/app.js" type="module"></script>

</html>