<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/style.css">
    <title>Document</title>
</head>

<body>
    <nav class="emailNavBar">
        <div class="emailNavBarTab">
            <button class="sideBarToggle">
                <img src="icons/burger.svg" alt="">
            </button>
            <h3>Welcome, Tapiwa</h3>
        </div>
        <p>Inbox</p>
    </nav>
    <div class="desktopSplitter">
        <div class="sideBarHolder">
            <aside class="mainSideBar">
                <div class="asideHeader">
                    <h2>EasyMail<sup>™</sup></h2>
                    <p>ss@live.com</p>
                </div>
                <button class="asideBtn selected">
                    <img src="icons/burger.svg" alt="">
                    <p>Inbox</p>
                </button>
                <button class="asideBtn">
                    <img src="icons/burger.svg" alt="">
                    <p>Junk/Spam</p>
                </button>
                <button class="asideBtn">
                    <img src="icons/burger.svg" alt="">
                    <p>Sent Email</p>
                </button>
            </aside>
            <aside class="emailList">
                <button class="emailContact">
                    <div class="emailIcon">
                        <h2>TT</h2>
                    </div>
                    <div class="emailContactBody">
                        <h3>ccsd@cc.com</h3>
                        <h3>cdsc dscsdcd scd</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque animi quo unde rem sit
                            minus quaerat tempora et laudantium est hic quidem deleniti dolorem, nulla fuga eaque autem
                            inventore ipsa?</p>
                    </div>
                </button>
                <button class="emailContact">
                    <div class="emailIcon">
                        <h2>TT</h2>
                    </div>
                    <div class="emailContactBody">
                        <h3>ccsd@cc.com</h3>
                        <h3>cdsc dscsdcd scd</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque animi quo unde rem sit
                            minus quaerat tempora et laudantium est hic quidem deleniti dolorem, nulla fuga eaque autem
                            inventore ipsa?</p>
                    </div>
                </button>

                <button class="emailContact">
                    <div class="emailIcon">
                        <h2>TT</h2>
                    </div>
                    <div class="emailContactBody">
                        <h3>ccsd@cc.com</h3>
                        <h3>cdsc dscsdcd scd</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque animi quo unde rem sit
                            minus quaerat tempora et laudantium est hic quidem deleniti dolorem, nulla fuga eaque autem
                            inventore ipsa?</p>
                    </div>
                </button>
            </aside>
        </div>

        <div class="mainArea">
            <section>

            </section>
        </div>
    </div>
    <section>

    </section>
</body>

</html>